%br
%p= link_to "/products", "Products"    
%p= link_to "/products/admin", "Products Admin" 
%p= link_to "/products/new", "New Product" 
%p= link_to "/categories", "Categories"  
%p= link_to "/categories/new", "New Category"